* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Public Sans', 'Poppins', sans-serif;
    height: 2000px;
}

:root {
    --primary-color: #152427;
    --second-color: #575d5e;
}

/* common */

a {
    text-decoration: none;
}

.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.container-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #ffffff;
    background: #143c3c;
    border: 1.5px solid #143c3c;
    border-radius: 999px;
    width: 173px;
    height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 5rem;
    line-height: 1.2;
    color: var(--primary-color);
}

h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 4.2rem;
    line-height: 1.24;
    color: var(--primary-color);
}

.h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
    color: var(--primary-color);
}
/* header */

.header {
    padding-top: 28px;
    /* position: sticky; */
    top: -22px;
    z-index: 2;
}

.header-bottom {
    /* padding-bottom: 12px; */
    position: relative;
}

.active {
    position: relative;
}
.header-bottom::after,
.active::before {
    content: '';
    display: inline-block;
}

.active::before {
    position: absolute;
    width: 16px;
    height: 2px;
    background: #143c3c;
    bottom: -1px;
    left: 19px;
}

.header-bottom::after {
    width: 100%;
    height: 1px;
    background: linear-gradient(
        90deg,
        #ffffff 0%,
        #dddcdc 51.09%,
        rgba(213, 213, 213, 0) 99.68%
    );
}

.nav-group {
    display: flex;
}

.nav-item {
    padding: 16px 19px 31px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: var(--second-color);
}

.nav-item:hover {
    text-shadow: 0 0 var(--primary-color);
}

/* hero */

.hero {
    margin-top: 28px;
}

.hero-title {
    width: 368px;
}

.hero-desc {
    margin-top: 20px;
    width: 341px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: var(--second-color);
}

.hero-cta {
    margin-top: 42px;
    width: 393px;
}

.hero-btn {
    width: 173px;
    height: 57px;
}

.hero-cta__block {
    position: relative;
}

.border-block {
    display: inline-block;
    position: absolute;
    top: -7.5px;
    left: -7.5px;
    width: 59px;
    height: 59px;
    border-radius: 50%;
    border: 5px solid #143c3c;
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
}

.play-block {
    width: 44px;
    height: 44px;
    background: #83a17d;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    border-radius: 50%;
    margin-left: 1px;
}

.play-block--label {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: var(--primary-color);
    cursor: pointer;
}

.hero-img {
    position: relative;
    gap: 20px;
    padding-top: 32px;
}

.hero-img::before {
    position: absolute;
    display: inline-block;
    content: '';
    width: 340px;
    height: 340px;
    background: #4dbb9a;
    filter: blur(137px);
    top: 122px;
    left: 156px;
}

.hero-img__item {
    width: 202px;
    height: 466px;
    object-fit: cover;
    border-radius: 110px;
    z-index: 1;
}

.hero-img__item--2 {
    position: relative;
    top: 77px;
}

.hero-flower__block--01 {
    position: absolute;
    left: -172px;
    top: 0;
    width: 545px;
    height: 361.17px;
    z-index: 2;
}

.hero-flower__block--02 {
    position: absolute;
    bottom: -149px;
    left: 62px;
    width: 545px;
    height: 364.1px;
    transform: rotate(183.95deg);
    z-index: 2;
}

.flower,
.hero-vector-01,
.hero-vector-02 {
    position: absolute;
}

.hero-vector-02 {
    transform: rotate(175.95deg);
}

.hero-flower__01 {
    top: 8px;
    left: -39px;
    z-index: 2;
}

.hero-flower__02 {
    transform: rotate(170deg);
    top: 60px;
    left: -38px;
    z-index: 2;
}

/* brand */

.brand {
    margin-top: 207px;
}

.brand-row {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 76px 0;
    background: #e2eddf;
    border-radius: 100.5px;
}

.brand-img__block {
    display: flex;
    align-items: center;
}

.brand-img-slack {
    margin: 0 5px 0 47px;
}

.brand-img-agworld {
    margin: 0 11px 0 51px;
}

.brand-img-heroku {
    margin: 0 14px 0 63px;
}

.brand-img-__riotinto {
    margin-left: 64px;
}

/* services */
.services {
    margin-top: 106px;
}

.services-row {
    display: flex;
    justify-content: space-between;
}
.services-label::before {
    position: relative;
    top: -1rem;
    margin-right: 21px;
    content: '';
    display: inline-block;
    width: 25px;
    height: 1px;
    background: var(--primary-color);
}

.services-label {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.62;
    color: var(--primary-color);
}

.services-title {
    position: relative;
    margin-top: 12px;
    width: 520px;
}

.services-title::after {
    position: absolute;
    content: '';
    display: inline-block;
    background: var(--primary-color);
    width: 66px;
    height: 2px;
    top: 83px;
    right: 103px;
}

.arrow-group {
    position: relative;
    display: flex;
    align-items: flex-end;
    gap: 17px;
    flex-direction: row-reverse;
    bottom: 9px;
    right: 73px;
}

.arrow-block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    background: #e2eddf;
    border-radius: 50%;
    color: var(--primary-color);
    cursor: pointer;
}

.arrow-block:hover {
    background: #143c3c;
    color: #ffffff;
}

.services-group {
    margin-top: 76px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.services-item {
    display: flex;
    flex-direction: column;
}

.services-item:hover {
    background: #ffffff;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
    border-radius: 20px;
}

.services-item:hover .services-group__info {
    position: relative;
    padding-left: 18px;
    padding-right: 64px;
    transition: 0.5s;
}

.services-group__img {
    width: 370px;
    height: 318px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.services-group__info {
    padding: 24px 101px 15px 0;
}

.services-group__title {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
    color: var(--primary-color);
}

.services-group__desc {
    margin-top: 18px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #7d8188;
}
