* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Public Sans', 'Poppins', sans-serif;
    height: 5000px;
}

:root {
    --primary-color: #152427;
    --second-color: #575d5e;
}

/* common */

a {
    text-decoration: none;
}

.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.container-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #ffffff;
    background: #143c3c;
    border: 1.5px solid #143c3c;
    border-radius: 999px;
    width: 173px;
    height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    opacity: 0.9;
}

h1 {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 5rem;
    line-height: 1.2;
    color: var(--primary-color);
}

h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 4.2rem;
    line-height: 1.24;
    color: var(--primary-color);
}

.h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
    color: var(--primary-color);
}

.strikethrough__block {
    display: flex;
    align-items: center;
}
/* header */

.header {
    padding-top: 28px;
    /* position: sticky; */
    top: -22px;
    z-index: 2;
}

.header-bottom {
    /* padding-bottom: 12px; */
    position: relative;
}

.active {
    position: relative;
}
.header-bottom::after,
.active::before {
    content: '';
    display: inline-block;
}

.active::before {
    position: absolute;
    width: 16px;
    height: 2px;
    background: #143c3c;
    bottom: -1px;
    left: 19px;
}

.header-bottom::after {
    width: 100%;
    height: 1px;
    background: linear-gradient(
        90deg,
        #ffffff 0%,
        #dddcdc 51.09%,
        rgba(213, 213, 213, 0) 99.68%
    );
}

.nav-group {
    display: flex;
}

.nav-item {
    padding: 16px 19px 31px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: var(--second-color);
}

.nav-item:hover {
    text-shadow: 0 0 var(--primary-color);
}

/* hero */

.hero {
    margin-top: 28px;
}

.hero-title {
    width: 368px;
}

.hero-desc {
    margin-top: 20px;
    width: 341px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: var(--second-color);
}

.hero-cta {
    margin-top: 42px;
    width: 393px;
}

.hero-btn {
    width: 173px;
    height: 57px;
}

.hero-cta__block {
    position: relative;
}

.border-block {
    display: inline-block;
    position: absolute;
    top: -7.5px;
    left: -7.5px;
    width: 59px;
    height: 59px;
    border-radius: 50%;
    border: 5px solid #143c3c;
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
}

.play-block {
    width: 44px;
    height: 44px;
    background: #83a17d;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    border-radius: 50%;
    margin-left: 1px;
}

.play-block--label {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: var(--primary-color);
    cursor: pointer;
}

.hero-img {
    position: relative;
    gap: 20px;
    padding-top: 32px;
}

.hero-img::before {
    position: absolute;
    display: inline-block;
    content: '';
    width: 340px;
    height: 340px;
    background: #4dbb9a;
    filter: blur(137px);
    top: 122px;
    left: 156px;
}

.hero-img__item {
    width: 202px;
    height: 466px;
    object-fit: cover;
    border-radius: 110px;
    z-index: 1;
}

.hero-img__item--2 {
    position: relative;
    top: 77px;
}

.hero-flower__block--01 {
    position: absolute;
    left: -172px;
    top: 0;
    width: 545px;
    height: 361.17px;
    z-index: 2;
}

.hero-flower__block--02 {
    position: absolute;
    bottom: -149px;
    left: 62px;
    width: 545px;
    height: 364.1px;
    transform: rotate(183.95deg);
    z-index: 2;
}

.flower,
.hero-vector-01,
.hero-vector-02 {
    position: absolute;
}

.hero-vector-02 {
    transform: rotate(175.95deg);
}

.hero-flower__01 {
    top: 8px;
    left: -39px;
    z-index: 2;
}

.hero-flower__02 {
    transform: rotate(170deg);
    top: 60px;
    left: -38px;
    z-index: 2;
}

/* brand */

.brand {
    margin-top: 207px;
}

.brand-row {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 76px 0;
    background: #e2eddf;
    border-radius: 100.5px;
}

.brand-img__block {
    display: flex;
    align-items: center;
}

.brand-img-slack {
    margin: 0 5px 0 47px;
}

.brand-img-agworld {
    margin: 0 11px 0 51px;
}

.brand-img-heroku {
    margin: 0 14px 0 63px;
}

.brand-img-__riotinto {
    margin-left: 64px;
}

/* services */
.services {
    margin-top: 106px;
}

.services-row {
    display: flex;
    justify-content: space-between;
}
/* .services-label::before {
    position: relative;
    top: -1rem;
    margin-right: 21px;
    content: '';
    display: inline-block;
    width: 25px;
    height: 1px;
    background: var(--primary-color);
} */

.strikethrough__block {
    display: flex;
    align-items: center;
}

.strikethrough-before {
    top: -1rem;
    margin-right: 21px;
    content: '';
    display: inline-block;
    width: 25px;
    height: 1px;
    background: var(--primary-color);
}

.services-label {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.62;
    color: var(--primary-color);
}

.services-title {
    position: relative;
    margin-top: 12px;
    width: 520px;
}

.services-title::after {
    position: absolute;
    content: '';
    display: inline-block;
    background: var(--primary-color);
    width: 66px;
    height: 2px;
    top: 83px;
    right: 103px;
}

.arrow-group {
    position: relative;
    display: flex;
    align-items: flex-end;
    gap: 17px;
    flex-direction: row-reverse;
    bottom: 9px;
    right: 73px;
}

.arrow-block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    background: #e2eddf;
    border-radius: 50%;
    color: var(--primary-color);
    cursor: pointer;
}

.arrow-block:hover {
    background: #143c3c;
    color: #ffffff;
}

.services-group {
    margin-top: 76px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.services-item {
    display: flex;
    flex-direction: column;
}

.services-item:hover {
    background: #ffffff;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
    border-radius: 20px;
}

.services-item:hover .services-group__info {
    position: relative;
    padding-left: 18px;
    padding-right: 64px;
    transition: 0.5s;
}

.services-group__img {
    width: 370px;
    height: 318px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.services-group__info {
    padding: 24px 101px 15px 0;
}

.services-group__title {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
    color: var(--primary-color);
}

.services-group__desc {
    margin-top: 18px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #7d8188;
}

/* about */

.about {
    margin-top: 125px;
}

.about-container {
    display: flex;
    gap: 34px;
}

.about-img__group {
    position: relative;
    width: 591px;
    height: 557px;
    margin-top: 45px;
    margin-right: 30px;
    object-fit: cover;
    display: flex;
    gap: 21px;
}

.about-img__item {
    position: absolute;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
    border-radius: 210px;
}

.about-img__item--1 {
    width: 284px;
    height: 480px;
    left: 0;
    bottom: 0;
}

.about-img__item--2 {
    width: 286px;
    height: 480px;
    top: 0;
    right: 0;
}

.about__block-flower {
    position: absolute;
    left: -26px;
    z-index: 1;
    width: 541.69px;
    height: 360.64px;
    transform: rotate(9deg);
}

.about__vector {
    position: absolute;
    transform: rotate(7deg);
}

.about__flower {
    position: relative;
    left: 56px;
    top: -15px;
    z-index: 2;
    transform: rotate(7deg);
}

.about-img__info {
    position: absolute;
    width: 143px;
    height: 144px;
    bottom: 8px;
    right: 21px;
    padding: 19px 23px 12px;
    background-color: #ffffff;
    box-shadow: 0px 7px 54px rgba(154, 154, 154, 0.25);
    border-radius: 8px;
    z-index: 2;
}

.img__info--title {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1;
    color: var(--primary-color);
}

.about-img--label {
    display: inline-block;
    margin-top: 6px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4;
    color: var(--second-color);
    opacity: 0.4;
}

.about-img--percent {
    margin-top: 10px;
    display: block;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
    color: var(--primary-color);
}

.percent {
    position: relative;
    margin-top: 3px;
    width: 100%;
    height: 2px;
    background: #eaeaea;
    border-radius: 10px;
}

.percent::before {
    position: absolute;
    content: '';
    display: inline-block;
    width: 40%;
    height: inherit;
    background: #83a17d;
    border-radius: 10px;
}

.loading {
    display: flex;
    justify-content: flex-end;
    margin-top: 3px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
    color: var(--primary-color);
}

.circle-block {
    margin-top: 3px;
    width: 11px;
    height: 11px;
    background: #eaeaea;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar-block {
    margin-top: 4px;
    gap: 30px;
}

.team-label {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
    color: var(--primary-color);
}

.avatar-group {
    display: flex;
}

.avatar-item {
    width: 16px;
    height: 16px;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
}

.avatar-item + .avatar-item {
    margin-left: -6px;
}

.about-info {
    width: 485px;
}

.about-label {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.12;
    color: var(--primary-color);
}
.about-info__title {
    margin-top: 20px;
}

.about-info__desc {
    margin-top: 11px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.62;
    color: #7d8188;
}

.about-info__percent--block-01 {
    margin-top: 36px;
    gap: 24px;
}

.about-info__percent--block-02 {
    margin-top: 38px;
    gap: 20px;
}

.about-info__percent--block-01,
.about-info__percent--block-02 {
    padding-bottom: 20px;
    border-bottom: 1px solid #83a17d;
}

.percent__block--span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 4.2rem;
    line-height: 1.24;
    color: var(--primary-color);
}

.percent__block--desc {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #7d8188;
}

/* process */

.process {
    padding: 36px 0 28px 0;
    margin-top: 79px;
}

.process-title {
    margin-top: 20px;
    width: 520px;
    position: relative;
}

.process-title::after {
    position: absolute;
    content: '';
    display: inline-block;
    background: var(--primary-color);
    width: 66px;
    height: 2px;
    top: 81px;
    right: 33px;
}

.process-group {
    margin-top: 81px;
}

.process-item {
    position: relative;
    height: 185px;
    border-radius: 33px;
    display: flex;
    align-items: center;
}

.process-item::after {
    position: absolute;
    bottom: 34px;
    right: 0;
    left: 0;
    content: '';
    display: inline-block;
    width: 100%;
    height: 3px;
    background: linear-gradient(
        180deg,
        #83a17d 4.17%,
        rgba(131, 161, 125, 0) 36.46%
    );
    visibility: visible;
}

.process-item:hover {
    background: #e2eddf;
}

.process-item:hover .process-item__span {
    margin: 0 64px 0 30px;
    transition: 0.5s;
}

.process-item:hover .process-more,
.process-item:hover .process-img {
    visibility: visible;
    transition: visibility 6s;
}

.process-item:hover .process-item__desc--01,
.process-item:hover::after {
    visibility: hidden;
}

.process-item__span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 7.2rem;
    line-height: 0.72;
    color: #143c3c;
    margin: 0 48px 0 20px;
}

.process-item__title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
    color: var(--primary-color);
}

.process-more {
    display: inline-block;
    text-decoration: underline;
    margin-top: 22px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1;
    color: #575d5e;
    visibility: hidden;
}

.process-item__desc {
    position: absolute;
    right: 41px;
    width: 572px;
    height: 84px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #7d8188;
    visibility: visible;
}

.process-img {
    position: absolute;
    bottom: 0;
    right: 92px;
    visibility: hidden;
}

/* project */
.project {
    margin-top: 148px;
    background: #143c3c;
    padding: 116px 0 62px 0;
}

.project-row {
    display: flex;
    align-items: center;
    gap: 93px;
}

.project-title {
    position: relative;
    width: 457px;
    color: #e7f9f9;
}

.project-title::after {
    position: absolute;
    content: '';
    display: inline-block;
    background: #83a17d;
    width: 66px;
    height: 2px;
    top: 81px;
    right: 97px;
}

.project-desc {
    width: 590px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #6a8383;
}

.project-cta {
    margin-top: 13px;
    display: flex;
    gap: 26px;
    align-items: center;
}

.project-cta__a {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #ffffff;
}

.video-block {
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 2;
}

video {
    margin-top: 65px;
    border-radius: 22px;
    object-fit: cover;
}

.play-btn {
    top: 278px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
    width: 118px;
    height: 118px;
    border-radius: 50%;
    cursor: pointer;
}

.video-flower__block {
    position: absolute;
    z-index: 1;
}

.video-flower__block {
    position: absolute;
    top: -14px;
    right: -147px;
    transform: matrix(-0.2, -0.98, -0.98, 0.2, 0, 0);
    width: 541.69px;
    height: 360.64px;
}

.video-flower__block--flower {
    position: absolute;
    right: 120px;
}

.video-flower__block--vector {
    position: absolute;
    right: -43px;
}
