* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Public Sans', 'Poppins', sans-serif;
    height: 2000px;
    background: #efefef;
}

:root {
    --primary-color: #152427;
    --second-color: #575d5e;
}

/* common */

a {
    text-decoration: none;
}

.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.container-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #ffffff;
    background: #143c3c;
    border: 1.5px solid #143c3c;
    border-radius: 999px;
    width: 173px;
    height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* header */

.header {
    padding-top: 28px;
    position: sticky;
    top: -22px;
    z-index: 1;
}

.header-bottom {
    /* padding-bottom: 12px; */
    position: relative;
}

.active {
    position: relative;
}
.header-bottom::after,
.active::before {
    content: '';
    display: inline-block;
}

.active::before {
    position: absolute;
    width: 16px;
    height: 2px;
    background: #143c3c;
    bottom: -1px;
    left: 19px;
}

.header-bottom::after {
    width: 100%;
    height: 1px;
    background: linear-gradient(
        90deg,
        #ffffff 0%,
        #dddcdc 51.09%,
        rgba(213, 213, 213, 0) 99.68%
    );
}

.nav-group {
    display: flex;
}

.nav-item {
    padding: 16px 19px 31px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: var(--second-color);
}

.nav-item:hover {
    text-shadow: 0 0 var(--primary-color);
}
